@import-normalize;

/* Desktop CSS */

body{
  background-color: #faf0e6;
}

.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100vw;
  height: 100vh;
}

/* Top Container */

.top_Container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Header Container */
.header_Container{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Bottom Container */
.bottom_Container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
}

p,b{
  word-wrap: break-word;
}

/* Items Container */
.items_Container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 1.5vw;
}

img{
  width: 100%;
  max-width: 100px;
  height: 100%;
  max-height: 150px;
}

.shopItems{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  width: 80%;
  height: 100%;
}
.arrow_Container{
  border: 2px solid #3498db;
  width: 100%;
  max-width: 40px;
  height: 100%;
  max-height: 40px;
  border-radius: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.arrow {
  border: solid;
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  padding: 0.2rem;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


/* Descriptions */
.description_Container{
  width: 100%;
  height: 100%;
}

.showDescription_Container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-self: center;
  align-items: flex-start;
  background-color: white;
  padding: 1rem;
}

.rating_Container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.rating_Text{
  font-size: 1.2rem;
  color: gold;
}

.btn_Container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}

.add_Cart_Btn{
  border: none;
  border-radius: 0.4rem;
  width: 100%;
  max-width: 130px;
  height: 8%;
  font-size: 1rem;
  color: white;
  background-color: #3498db;
}

/*
  Set CSS Media Queries for the following Mobile sizes:

  - 425 px

  - 375 px

  - 325 px

  - We can probably group everying into a specfic point

*/



    /*Device 600px and BELOW*/
@media all and (max-width: 600px) {

  img {
    width: 50%;
    max-width: 100px;
    height: 50%;
    max-height: 150px;
}

  .shopItems_Text{
    text-align: center;
    font-size: 0.7rem;
  }

  .shopItems{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .description{
    font-size: 0.7rem;
  }
 
}